.outer {
    margin: 10% auto auto;
    top: 50%;
    width: 40%;
}

.outer h1 {
    text-align: center
}

.drop-area {
    width: 20vw;
    height: 20vh;
    border: 5px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}
