.post{
    /*display: flex;*/
    border: 2px solid teal;
    padding: 15px;
    /*margin-left: 15px;*/
    margin-top: 15px;
    margin-right: 15px;
    /*align-items: center;*/
    justify-content: center;
    /*width: 160px;*/
    /*height: 160px;*/
    /*-webkit-line-clamp: 4;*/
}

.content{
    border: 2px solid teal;
    /*width: 160px;*/
    /*height: 200px;*/
    margin-bottom: 10px;
}

.postList{
    /*display: flex;*/
    /*flex-direction: row;*/
}