.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*button[type = "submit"] {*/
/*    margin-top: 10px;*/
/*    cursor: pointer;*/
/*    font-size: 15px;*/
/*    background: #01d28e;*/
/*    border: 1px solid #01d28e;*/
/*    color: #fff;*/
/*    padding: 10px 20px;*/
/*}*/
/*.login-button{*/

/*}*/