.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    background-color: #262626;
    padding: 1rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .right {
    display: flex;
    align-items: center;
}


.navbar .navbtn {
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.separator {
    height: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-right: 2px solid gray;
}

#home {
    font-size: 1.3em;

}

.navbar .navbtn:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-around;
        height: 60px;
        padding: 0.5rem;
    }

    .navbar .left {
        display: none;
    }

    .navbar .right {
        flex-grow: 1;
        justify-content: space-around;
    }

    .navbar .navbtn {
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
    }
}