.search {
    width: 800px;
}


.list{
    margin-top: 50px;
}

*{
    /*padding: 10px;*/
}

.paginate{
    /*justify-content: center;*/
    display: flex;
    bottom: 0;
    /*position: fixed;*/
    padding: 15px;
}